@import url('https://fonts.googleapis.com/css2?family=Candal&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "main main"
        "text colors"
        "text buttons";
}

span {
    padding: 20px;
    background-color: white;
    margin-right: 20px;
}

.color-palette {
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-area: colors;
    padding-bottom: 30px;
}

.text-styles {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-styles {
    grid-area: buttons;
}

.button-holder {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 12px;
}

.button {
    padding: 15px 30px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}

.main-title {
    grid-area: main;
    margin-bottom: 20px;
    font-size: 36px;
}

.main-title, h1, h2, h3, h4 {
    font-family: 'Candal';
    font-weight: bold;
}

h1 {
    font-size: 28px;
}

.color-1 {
    background-color: #922B36;
}

.color-2 {
    background-color: #6610F2;
}

.color-3 {
    background-color: #BBA0CA;
}

.color-4 {
    background-color: black;
}

.color-5 {
    background-color: #f7eced;
}

a {
    color: #6610F2;
}

a:hover, a:focus {
    color: #BBA0CA;
}

.button {
    color: #922B36;
    transition: all 150ms;
}

.button:hover {
    background-color: #922B36;
    color:white;
}

.button-gradient {
    background: linear-gradient(90deg, #6610F2, #922B36);
    color:white;
    animation: button-to-solid 200ms linear forwards;
}

.button-gradient:hover, .button-gradient:focus {
    animation: button-to-gradient 200ms linear forwards;
}

@keyframes button-to-gradient {
    from {
        background-size: 100% 100%;
        background-position: 50% 50%;
    }
    to {
		background-size: 500% 100%;
        background-position: 100% 50%;
	}
}

@keyframes button-to-solid {
    from {
        background-size: 500% 100%;
        background-position: 100% 50%;
    }
    to {
		background-size: 100% 100%;
        background-position: 50% 50%;
	}
}
